.banner-group {
  background-image: url("https://nhamoigiaky.com/uploads/source/xe-cho-tien/anh-quan-cafe-1.jpg");
  width: 100%;
  height: 100vh;
  background-position: center bottom;
  background-size: 100% 100%;
  background-attachment: fixed;
}

header {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

header .profile button {
  background: none;
  border: none;
  color: var(--color-white);
}

header .logo img {
  max-width: 100px;
}

.nav-item a:hover {
  color: var(--color-primary) !important;
}

.dropdown-menu {
  padding: 0;
  border-radius: 8px;
}
.dropdown-item {
  border-radius: 8px;
}

.banner-text {
  padding-top: 200px;
}

.banner-text .title {
  font-size: 3rem;
}
.product-list .product-item .content {
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.product-list .product-item img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

/* footer */
footer {
  margin-top: 40px;
}

footer .content {
  padding: 140px 0px;
  color: var(--color-white);
}

/* modal */
.order-form {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 6;
}
.order-form .content {
  position: absolute;
  min-width: 600px;
  background-color: var(--color-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.order-form .content img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.order-form .content p {
  margin: 5px 0;
  color: var(--color-grey);
}
